            {% load custom_markdown %}
            {% if object %}
            <div class="blog-post">
              <h3 class="blog-post-title">{{object.title}}</h3>
              <p class="blog-post-meta">{{object.pub_date}} | 标签：
                <cite class='tag'>
                  {% for btype in object.blogtype.all %}
                    <span class="badge">{{btype.btype}}</span>
                  {% endfor %}                  
                </cite>
              </p>
              <hr>
              <p>{{object.content|custom_markdown}}</p>
            </div><!-- /.blog-post -->
            {% endif %}