<!DOCTYPE html>
{% load i18n static %}
<html lang="{{ LANGUAGE_CODE|default:'zh-cn' }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'blog/image/logo.jpg' %}">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'blog/css/reset.css' %}" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles fo this template -->
    <link href="{% static 'blog/css/blog.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/highlight.css' %}" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

</head>

<body class="{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now 'Z' %}">
  <!-- Nav -->
  {% block nav-global %}
  <div class="container blog-nav">
      <nav class="navbar navbar-default blog-masthead">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">切换导航</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">CrossRoad</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="blog-nav nav navbar-nav">
          <li><a id='nav-ne' class="blog-nav-item" href="{% url 'blog:index' %}">最新文章</a></li>
          <li><a id='nav-py' class="blog-nav-item" href="">ABOUT</a></li>
        </ul>
      </div>
    </nav>
  </div>
  {% endblock %}
  <!-- END Nav -->

  <!-- Container -->
  <div class="container">
    <!-- Content -->
      {% block content %}
        {% block sidebar %}{% endblock %}
      {% endblock %}
    <!-- END Content -->
    
    {% block scripts %}
        <!-- core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="//cdn.bootcss.com/crypto-js/3.1.2/components/core-min.js"></script>
      <script src="//cdn.bootcss.com/crypto-js/3.1.2/components/sha1.js"></script>
      <script src="{% static 'blog/js/blog.js' %}"></script>
      <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}
  </div>
  <!-- END Container -->

  <!-- Footer -->
  {% block footer %}
    <footer class="blog-footer">
    <div>Powered by<a target='_blank' href="http://docs.djangoproject.com"> Django</a> and<a target='_blank' href="http://www.bootcss.com/"> Bootstrap</a></div>
        <p>@Copyright 2017</p>
    </footer>
  {% endblock %}
  <!-- END Footer -->  
</body>
</html>
