{% extends 'blog/base.html' %}
{% block content %}
      <div class="row">
              <!-- Sidebar -->
       
        <!-- Blog-main -->
        <div class="col-sm-9  blog-main">
          <div class='blog-include'>
           {% include 'blog/_blog.html' %}
          </div>
          {% include 'blog/_duoshuo.html' %}
        </div><!-- End blog-main -->

 				{% block sidebar %}
        <div class="col-sm-3 blog-sidebar">
        <div class="sidebar-module">
        	<h4>搜索获取更多...</h4>
          <form class='search' method='GET'>
            <div class="input-group">
              <input type="text" class="form-control" name='q' placeholder="Search for..." autofocus {% if form_string %}value='{{form_string}}'{% endif %}>
              <span class="input-group-btn">
                <button class="search-btn btn btn-default" type="submit">搜索</button>
              </span>
            </div><!-- /input-group -->             
          </form>
         
         {% if form_string %}
          <p class='loading'><img src="../static/blog/image/loading.gif" alt=""> 正在搜索</p>
          <p class="search-bar">共搜索到<span class="badge">{{results_num}}</span>条结果，返回<a href="{% url 'blog:index' %}"> 查看全部</a>。</p>
          {% endif %}
          </div>
            <div class="sidebar-module sidebar">
            <h4>更过相关文章</h4>
            <ul class="nav nav-sidebar">
              {% for blog in object_list %}
                <li><a href="{% url 'blog:blog_detail' alias=blog.blogtype.first.alias pk=blog.id %}">{{blog.title}}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          </div>
 
<!-- End sidebar -->
        {% endblock %}

      </div><!-- End row -->
{% endblock %}