{% extends 'blog/base.html' %}
{% load static %}
{% block title %} Home--Francis Web {% endblock %}

      {% block content %}

      <!--{% block pagetitle %}-->
        <!--<div class="blog-header">-->
          <!--<h1 class="blog-title">CrossRoad</h1>-->
          <!--<p class="lead blog-description">&#45;&#45;&#45;&#45;Francis的个人小站</p>-->
        <!--</div>-->
      <!--{% endblock %}-->

      <div class="row">
        <!-- Blog-main -->
        <div class="col-sm-9 blog-main">


          <hr>
          <div class='blog-include'>
           {% include 'blog/_summary.html' %}
          <nav>
            <ul class="pagination">
              <li {% if not page_obj.has_previous %}class='disabled'>
                <a {% else%}><a href="{{abs_url}}?{% if form_string %}q={{form_string}}&{% endif %}{% if btags_uri %}tag={{btags_uri}}&{% endif %}page={{page_obj.number|add:-1}}" {% endif %} aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                  {% for pn in paginator.page_range %}
                  <li {% if pn == page_obj.number %}class='active'><a {% else %}><a href="{{abs_url}}?{% if form_string %}q={{form_string}}&{% endif %}{% if btags_uri %}tag={{btags_uri}}&{% endif %}page={{pn}}"{% endif %}>{{pn}}</a></li>
                  {% endfor %}
                <li {% if not page_obj.has_next %}class='disabled'>
                <a {% else%}><a href="{{abs_url}}?{% if form_string %}q={{form_string}}&{% endif %}{% if btags_uri %}tag={{btags_uri}}&{% endif %}page={{page_obj.number|add:1}}" {% endif %} aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
          </div>
        </div><!-- End blog-main -->

        <!-- Sidebar -->
        {% block sidebar %}
       
        <div class="col-sm-3 blog-sidebar">
          <form class='search' method='GET'>
            <div class="input-group">
              <input type="text" class="form-control" name='q' placeholder="Search for..." autofocus {% if form_string %}value='{{form_string}}'{% endif %}>
              <span class="input-group-btn">
                <button class="search-btn btn btn-default" type="submit">搜索</button>
              </span>
            </div><!-- /input-group -->
          </form>
          {% if form_string %}
          <p class='loading'><img src="{% static 'blog/image/loading.gif' %}" alt=""> 正在搜索</p>
          <p class="search-bar">共搜索到<span class="badge">{{results_num}}</span>条结果，返回<a href="{% url 'blog:index' %}"> 查看全部</a>。</p>
          {% endif %}
          <div class="sidebar-module">
            <h4>标签目录</h4>
            <ol class="list-unstyled">
              {% for tag_alias,tag_name,nums in btags_num_list %}
                {% if tag_name %}
                <li><a href="{{abs_url}}?{% if form_string %}q={{form_string}}&{% endif %}tag={% if tag_name not in btags_uri %}{{btags_uri}},{{tag_name}}{% else %}{{btags_uri}}{% endif %}" class='btn btn-primary btn-xs'>{{tag_alias}}<span class="badge">{{nums}}</span></a>
                {% endif %}
                </li>
              {% endfor %}
            </ol>
          </div>
        </div><!-- End sidebar -->
        {% endblock %}
      </div><!-- End row -->
      {% endblock %}

