{% extends 'blog/base.html' %}
{% block title %}用户资料{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">用户名</div>
  <div class="panel-body">
    {{user.username}}
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">邮箱</div>
  <div class="panel-body">
    {{user.email}}
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">真实姓名</div>
  <div class="panel-body">
    {{user.last_name}} {{user.first_name}}
  </div>
</div>
{% if request.user == user %}
<a href='{% url "blog:profile_edit" request.user.id %}' class="btn btn-default">修改资料</a>
{% endif %}
{% endblock %}